@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* #region  /**=========== Primary Color =========== */
  /* !STARTERCONF Customize these variable, copy and paste from /styles/colors.css for list of colors */
  --tw-color-primary-50: 255 236 236;
  --tw-color-primary-100: 254 202 202;
  --tw-color-primary-200: 252 148 148;
  --tw-color-primary-300: 250 93 93;
  --tw-color-primary-400: 247 48 48;
  --tw-color-primary-500: 235 28 28;
  --tw-color-primary-600: 191 16 16;
  --tw-color-primary-700: 152 10 10;
  --tw-color-primary-800: 120 6 6;
  --tw-color-primary-900: 94 3 3;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #ffeced */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #fecaca */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #fc9494 */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #fa5d5d */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #f73030 */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #eb1c1c */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #bf1010 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #980a0a */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #780606 */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #5e0303 */
  /* #endregion  /**======== Primary Color =========== */

  --step--2: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.8rem);
  --step--1: clamp(0.94rem, calc(0.92rem + 0.11vw), 1rem);
  --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --step-1: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
  --step-2: clamp(1.62rem, calc(1.5rem + 0.58vw), 1.95rem);
  --step-3: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
  --step-4: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);
  --step-5: clamp(2.8rem, calc(2.45rem + 1.77vw), 3.82rem);
}

@layer base {
  /* inter var - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url('/fonts/inter-var-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply font-primary text-3xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply font-primary text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply font-primary text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply font-primary text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-primary text-base font-bold md:text-lg;
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}

.gradient-text {
  background-image: linear-gradient(90deg, #007cf0, #00dfd8);
  background-clip: text;
}
